DIsparo_certo (1).json
{
  "name": "DIsparo certo",
  "nodes": [
    {
      "parameters": {
        "amount": 3
      },
      "id": "26c70d8c-ffb8-46e2-bf0a-d3aec4549594",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        7280,
        2820
      ],
      "webhookId": "2987fe5c-e96e-433b-ba83-c95cadc6d0c9"
    },
    {
      "parameters": {
        "path": "b6d9ff8f-c9a0-4a24-9ec7-e171cdcc43bd",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3591ed72-c514-40e9-8ab0-af562d3d1186",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        6740,
        2480
      ],
      "webhookId": "b6d9ff8f-c9a0-4a24-9ec7-e171cdcc43bd",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Disparo da Metralhadora ( Botão direito > Ativar )\n**Código abaixo do Disparar para todos** \n=HYPERLINK(\"SUA URL\"; \"Liga a Metralhadora\")",
        "height": 319,
        "width": 506
      },
      "id": "eaa4c1fa-9a2b-4670-8592-de2da25c4910",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6680,
        2340
      ]
    },
    {
      "parameters": {
        "content": "## Manual",
        "height": 213.41086834998737,
        "width": 211.58996364362372
      },
      "id": "ed3b2cf7-3690-4701-9b0d-4db8b237ce82",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6320,
        2700
      ]
    },
    {
      "parameters": {},
      "id": "6e83271d-4ce8-4799-8541-d32bd7a39ac4",
      "name": "Teste",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        6380,
        2760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1NWRLoOrl9tkiISlPkKEZd8iWyFBdn5cT-RDQhuKPUTE",
          "mode": "list",
          "cachedResultName": "NUMEROS RIFA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NWRLoOrl9tkiISlPkKEZd8iWyFBdn5cT-RDQhuKPUTE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NWRLoOrl9tkiISlPkKEZd8iWyFBdn5cT-RDQhuKPUTE/edit#gid=0"
        },
        "options": {}
      },
      "id": "e068d602-c5c9-46e7-816b-64e87266bd95",
      "name": "Chupa Cabra",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        6620,
        2760
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "bfab34d3-d30d-44b8-9bb3-5e473b3fc772",
      "name": "Repetidor",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        7020,
        2760
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1NWRLoOrl9tkiISlPkKEZd8iWyFBdn5cT-RDQhuKPUTE",
          "mode": "list",
          "cachedResultName": "NUMEROS RIFA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NWRLoOrl9tkiISlPkKEZd8iWyFBdn5cT-RDQhuKPUTE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NWRLoOrl9tkiISlPkKEZd8iWyFBdn5cT-RDQhuKPUTE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Repetidor').item.json.row_number }}",
            "STATUS": "enviado"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "NOMES",
              "displayName": "NOMES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CHECK",
              "displayName": "CHECK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e661c72d-ea9b-4162-aaed-eb2573f163ba",
      "name": "Abatido",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        8460,
        2660
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "amount": "={{ $json.randomTimmer }}"
      },
      "id": "73891f0b-daaa-4b7e-9eb6-864db25fe609",
      "name": "Respira",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        9060,
        2800
      ],
      "webhookId": "2987fe5c-e96e-433b-ba83-c95cadc6d0c9"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        7680,
        2500
      ],
      "id": "99a2bceb-f4f9-46dc-8641-446780d7fe80",
      "name": "Finalizador"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1NWRLoOrl9tkiISlPkKEZd8iWyFBdn5cT-RDQhuKPUTE",
          "mode": "list",
          "cachedResultName": "NUMEROS RIFA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NWRLoOrl9tkiISlPkKEZd8iWyFBdn5cT-RDQhuKPUTE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NWRLoOrl9tkiISlPkKEZd8iWyFBdn5cT-RDQhuKPUTE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Chupa Cabra').item.json.row_number }}",
            "STATUS": "Escapou"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "NOMES",
              "displayName": "NOMES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CHECK",
              "displayName": "CHECK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "01909e34-dd17-4237-a990-fc81b6247552",
      "name": "Não Enviado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        8460,
        2940
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        9280,
        3360
      ],
      "id": "e9372195-9fa3-4b81-8b2d-a20a4f3d7e7f",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Envio Iniciado com Sucesso. Verifique o progresso na Planilha.",
        "options": {}
      },
      "id": "d9bac542-1a44-4760-b00f-4a923b28617c",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        6980,
        2480
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "![Encha](https://encha.ai/wp-content/uploads/2025/01/Logo-ENCHA_AI-1.png)",
        "height": 279,
        "width": 1120,
        "color": 6
      },
      "id": "fe17c572-ece7-4a3e-b5cc-bb8571d04778",
      "name": "Sticky Note20",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7440,
        3200
      ]
    },
    {
      "parameters": {
        "jsCode": "let textos = [\"TEXTO 01\", \"TEXTO 02\", \"TEXTO 03\", \"TEXTO 04\"];\nlet indiceAleatorio = Math.floor(Math.random() * textos.length);\nlet textoSelecionado = textos[indiceAleatorio];\n\nreturn [\n  {\n    json: {\n      runNode: textoSelecionado\n    }\n  }\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7440,
        2820
      ],
      "id": "ee8b9436-6c32-47fd-b536-bc583d540f39",
      "name": "Code1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evo.hopevalleyia.space/message/sendText/rifas",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=D7690A6393AD-46B9-9B84-0E512B43030A"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"}{{ $('Repetidor').item.json.numero }}\",\n  \"text\": \"ÚLTIMA CHAMADA! 🚀 Se você ama bebidas premium e adora uma oportunidade, essa é para você! Hoje teremos uma rifa GRATUITA com prêmios incríveis como Jack Daniel's e Jäger. A rifa será à noite, mas o acesso ao grupo é essencial para participar. Não deixe para depois, sua bebida grátis te espera: https://chat.whatsapp.com/G9Isg15CHst2D0oMXjLvHo\"\n}\n",
        "options": {}
      },
      "id": "b1b196ff-3f54-43fc-8a74-ac22cd65501c",
      "name": "TEXTO 01",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7940,
        2520
      ],
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evo.hopevalleyia.space/message/sendText/rifas",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=D7690A6393AD-46B9-9B84-0E512B43030A"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Repetidor').item.json.numero }}\",\n  \"text\": \"ALERTA DE OURO! ✨ Você quer ganhar um Jack Daniel's ou um Jäger de presente? Prepare-se, porque hoje teremos um sorteio 100% GRÁTIS de bebidas top de linha! A rifa acontece na parte da noite, mas a oportunidade é agora. Clique, entre no grupo e não fique de fora dessa: https://chat.whatsapp.com/G9Isg15CHst2D0oMXjLvHo\"\n}\n",
        "options": {}
      },
      "id": "4e1b7354-8b1e-47d1-ac44-1f5cb6ebf6d8",
      "name": "TEXTO 02",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7940,
        2680
      ],
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evo.hopevalleyia.space/message/sendText/rifas",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=D7690A6393AD-46B9-9B84-0E512B43030A"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Chupa Cabra').item.json.TELEFONE }}\",\n  \"text\": \"IMPERDÍVEL! 🤩 Imagine ter uma bebida premium na sua mão sem gastar nada! Hoje é o dia da nossa rifa GRATUITA de bebidas selecionadas. A chance de levar um Jack ou um Jäger é real e está esperando por você. A rifa será à noite, mas o acesso é limitado! Entre já e garanta seu lugar: https://chat.whatsapp.com/G9Isg15CHst2D0oMXjLvHo\"\n}\n",
        "options": {}
      },
      "id": "a7853207-48ff-4676-8de4-ab11b6057010",
      "name": "TEXTO 03",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7940,
        2840
      ],
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evo.hopevalleyia.space/message/sendText/rifas",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=D7690A6393AD-46B9-9B84-0E512B43030A"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Repetidor').item.json.numero }}\",\n  \"text\": \"Atenção! 🚨 Quer ganhar um Jack Daniel's ou um Jäger de graça? Sim, é isso mesmo! Hoje teremos uma rifa TOTALMENTE GRATUITA com bebidas premium! A rifa acontece à noite, mas você precisa entrar AGORA no grupo para garantir sua chance. Não perca essa oportunidade única: https://chat.whatsapp.com/G9Isg15CHst2D0oMXjLvHo\"\n}\n",
        "options": {}
      },
      "id": "9adf6a7e-e25f-4720-8f78-2eebf5aefd20",
      "name": "TEXTO 04",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7940,
        3020
      ],
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"runNode\"]}}",
                    "rightValue": "TEXTO 01",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a14a98c6-f2b4-4ae7-a3f4-f203e33450aa"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a5d52d60-ff67-4350-99f0-480552cd6197",
                    "leftValue": "={{$json[\"runNode\"]}}",
                    "rightValue": "TEXTO 02",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d703b324-2c40-49a0-88b4-23baefa763f5",
                    "leftValue": "={{$json[\"runNode\"]}}",
                    "rightValue": "TEXTO 03",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "06774716-413d-484b-b7e8-9866757c5bf5",
                    "leftValue": "={{$json[\"runNode\"]}}",
                    "rightValue": "TEXTO 04",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        7660,
        2800
      ],
      "id": "03e0507c-5e9c-4bc7-a6ed-61c5d2ec4474",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b90b562b-c9e5-43b6-a346-89515b0aabfa",
              "name": "numero",
              "value": "={{ $json['554288130606'] }}",
              "type": "string"
            },
            {
              "id": "7d6756b1-f250-4b05-a611-edc2ebe6165c",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6800,
        2760
      ],
      "id": "6e3c6d7f-de4b-4de8-a89f-cf875d6aee2d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "let randomTimmer = Math.floor(Math.random() * 30);\nlet randomTimmerTwo = Math.floor(Math.random() * 45);\n\nrandomTimmer +=randomTimmerTwo;\n\nreturn {randomTimmer}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8760,
        2820
      ],
      "id": "ccc9ad92-1340-4bbc-9b61-7d84ef2864f6",
      "name": "temporizador"
    }
  ],
  "pinData": {},
  "connections": {
    "Wait1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Teste": {
      "main": [
        [
          {
            "node": "Chupa Cabra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chupa Cabra": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Repetidor": {
      "main": [
        [
          {
            "node": "Finalizador",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Abatido": {
      "main": [
        [
          {
            "node": "temporizador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respira": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não Enviado": {
      "main": [
        [
          {
            "node": "temporizador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Repetidor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEXTO 01": {
      "main": [
        [
          {
            "node": "Abatido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não Enviado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEXTO 02": {
      "main": [
        [
          {
            "node": "Abatido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não Enviado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEXTO 03": {
      "main": [
        [
          {
            "node": "Abatido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não Enviado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEXTO 04": {
      "main": [
        [
          {
            "node": "Abatido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não Enviado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "TEXTO 01",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TEXTO 02",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TEXTO 03",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TEXTO 04",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Repetidor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "temporizador": {
      "main": [
        [
          {
            "node": "Respira",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "80bd40bf-ff79-493d-9a74-3ea8d2c6cca3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "82d10096f623d79405f549f7626da8cd98c1f9933ab495aefea0e4e926f8aa5b"
  },
  "id": "19nb3CAUDtcNh7ik",
  "tags": [
    {
      "createdAt": "2025-02-09T19:33:53.931Z",
      "updatedAt": "2025-02-09T19:33:53.931Z",
      "id": "KulGS9ENH3FSoTKN",
      "name": "ENCHA FLUXOS"
    }
  ]
}