instagram/INSTAGRAM.json
{
  "name": "INSTAGRAM - ENCHA",
  "nodes": [
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -6280,
        1680
      ],
      "id": "5291a791-5127-4be4-86c3-5361eca0851c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "## Token Instagram\n**IGAAVFcB82mvtBZAE8zMl8yVk5TS2l6UmlSNDNaczlTRURXcUJGenk2MVN6d0VQbTNzMGRyMWlUZA3FONks0ZAk11ZA0ZAaRDE3enhrdmlKUEtnejZAnRUNkRU9ULUZArUlJVR2pvdzl3bV9WMnNkaUdzRDI4S3R5UDJ4bThaYVVVNGExdwZDZD**",
        "height": 100,
        "width": 1600
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -8100,
        1660
      ],
      "id": "37894b5b-0e74-4eaa-901e-c21b96196f7d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Edit Fields').item.json.endpoint }}/{{ $('If1').item.json['conta-id'] }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient.id",
              "value": "={{ $('Edit Fields').item.json['contato-id'] }}"
            },
            {
              "name": "message.text",
              "value": "=Encha AI: \n{{$json.output.removeMarkdown() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        2380
      ],
      "id": "c9904ca6-ca6f-4392-b2a2-65fcd874061f",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jLKRmYDVqV1QgWa5",
          "name": "encha_oficial"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ac0cdfe9-3209-4ded-9f8f-05f6c258e5ed",
              "name": "endpoint",
              "value": "https://graph.instagram.com/v21.0",
              "type": "string"
            },
            {
              "id": "c10a0199-4dd3-4098-a6ba-53546381cf1b",
              "name": "conta-id",
              "value": "={{ $json.body.entry[0].id }}",
              "type": "string"
            },
            {
              "id": "70c5e9c8-9731-4b79-a1f2-eac28bd40694",
              "name": "contato-id",
              "value": "={{ $json.body.entry[0].messaging[0].sender.id }}",
              "type": "string"
            },
            {
              "id": "e4f1cb2e-3133-4520-8ce4-98e31f5e30f5",
              "name": "contato-msg",
              "value": "={{ $json.body.entry[0].messaging[0].message.text }}",
              "type": "string"
            },
            {
              "id": "336bee76-43bc-4fe3-84c9-e7d9429f2da5",
              "name": "conta-msg",
              "value": "={{ $json.body.entry[0].messaging[0].message.is_echo }}",
              "type": "string"
            },
            {
              "id": "ecfa7097-59ee-40e3-a86e-701c8e65d58b",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4780,
        1940
      ],
      "id": "8177f606-a0dc-4e83-bb23-9ee8a3c3243b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "22ab9507-0e44-400a-bd2e-3abcbc4c0f83",
              "leftValue": "={{ $json['conta-msg'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            },
            {
              "id": "db7fdfb0-ef03-488d-ab98-415f92e64ec3",
              "leftValue": "={{ $json['conta-id'] }}",
              "rightValue": "={{ $json['contato-id'] }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -3400,
        2520
      ],
      "id": "d78e2eba-32b5-4116-809c-a58d7d6b4b60",
      "name": "Filter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields2').item.json.mensagem }}",
        "options": {
          "systemMessage": "O seu papel é dar uma resposta curta e bem humorada para convidar todos nossos alunos iniciar uma jornada fantástica no universo de agentes de IA dentro do curso Exército de IA."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        740,
        2380
      ],
      "id": "6a222d69-a2e1-461b-b4c1-a9bcee1fd940",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        680,
        2600
      ],
      "id": "d68382ce-58a0-4009-88d7-9e23615547c9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "MYhemnhGrxLy3RF3",
          "name": "OpenAi EnchaT Encha Info"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook1').item.json.body.entry[0].messaging[0].message.attachments[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3a823be6-66a0-4837-a4e8-fa8c822b4416"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e1673961-8a78-4215-8f17-2857dc59c897",
                    "leftValue": "={{ $('Webhook1').item.json.body.entry[0].messaging[0].message.attachments[0].type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7da53de0-195e-44e8-940c-36cc2b89fe3d",
                    "leftValue": "={{ $('Edit Fields').item.json['contato-msg'] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "11cc72ad-aa1b-4205-b9a0-a70e16aec5d0",
                    "leftValue": "={{ $('Webhook1').item.json.body.entry[0].messaging[0].message.is_unsupported }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "unsupported"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1740,
        2460
      ],
      "id": "29ccecb0-d123-4b79-9ebc-672cd1065680",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "={{ $('RES AUTOMATIC').item.json.body.entry[0].messaging[0].message.attachments[0].payload.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1380,
        2020
      ],
      "id": "74aca376-6e05-4c2d-a300-5125f1e3051b",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "={{ $('RES AUTOMATIC').item.json.body.entry[0].messaging[0].message.attachments[0].payload.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1380,
        2300
      ],
      "id": "4388dbc6-d01c-4f0c-8f02-2b7efef40cce",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Analise esta imagem, o que tem nela?",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1180,
        2300
      ],
      "id": "48e9119e-293b-441f-862a-e5091b97cfb0",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "MYhemnhGrxLy3RF3",
          "name": "OpenAi EnchaT Encha Info"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5114a08-02bc-4cd2-b213-47dd39524658",
              "name": "audio-message",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "cb051536-8854-446d-be8a-017e024d8848",
              "name": "text-message",
              "value": "={{ $('Edit Fields').item.json['contato-msg'] }}",
              "type": "string"
            },
            {
              "id": "3b31061c-f575-4e80-84d5-8749e882600f",
              "name": "image-message",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "7262e933-09ee-42da-af1a-2f9f2a568f5b",
              "name": "unsupported-message",
              "value": "={{ $('Webhook1').item.json.body.entry[0].messaging[0].message.is_unsupported }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -840,
        2480
      ],
      "id": "d52265e9-5375-4f9a-97cd-9f9f998b626f",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Edit Fields').item.json['contato-id'] }}_contact",
        "messageData": "={{ $json['audio-message'] || $json['text-message'] || $json['image-message'] || $json['unsupported-message'] }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -620,
        2480
      ],
      "id": "c0b85b54-2024-4ccb-8952-adc7a452dc10",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "WSSBfDOqAmTHQcR6",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -400,
        2480
      ],
      "id": "3cd792f3-f32a-4833-8166-99652a3b6f47",
      "name": "Wait",
      "webhookId": "56ca7b3f-5e85-4912-80e1-8581394980da"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensagem",
        "key": "={{ $('Edit Fields').item.json['contato-id'] }}_contact",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -180,
        2480
      ],
      "id": "08ee89d2-b3fd-4e30-8ec6-d6caf44288b4",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "WSSBfDOqAmTHQcR6",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "460ce898-cfbe-4b70-bc0d-872505d4486c",
              "leftValue": "={{ $json.mensagem.first() }}",
              "rightValue": "={{ $('Edit Fields1').item.json['audio-message'] || $('Edit Fields1').item.json['text-message'] || $('Edit Fields1').item.json['image-message'] || $('Edit Fields1').item.json['unsupported-message']}}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        40,
        2480
      ],
      "id": "8a06f3a1-5f55-42fe-ac71-fc454abd6947",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        280,
        2640
      ],
      "id": "6fd52b62-1b51-4c1b-b736-d43dc72935fb",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d17169f-a0a8-45ac-be3b-80bf649494c3",
              "name": "mensagem",
              "value": "={{ $('Redis1').item.json.mensagem.join('\\n') }}",
              "type": "string"
            },
            {
              "id": "7fe6a0fc-8055-4d61-8cde-d9a258723fae",
              "name": "contato-id",
              "value": "={{ $('Edit Fields').item.json['contato-id'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        2380
      ],
      "id": "b644c8dc-fb1e-485d-b057-59ae708d8236",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Edit Fields').item.json['contato-id'] }}_contact"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        500,
        2380
      ],
      "id": "9694bbd5-f70c-49c1-81e3-06b41d6aa600",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "WSSBfDOqAmTHQcR6",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json['contato-id'] }}_memory",
        "sessionTTL": 86400
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [
        840,
        2620
      ],
      "id": "9440f5fd-04a7-43c9-a4b3-7ee92a093f40",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "WSSBfDOqAmTHQcR6",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b199a359-f61d-4897-8101-1e114cbc43c1",
              "leftValue": "={{ $json['contato-msg'].includes(\"Encha AI:\") }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "68cc9f00-90e6-407b-ac86-67c027c339f0",
              "leftValue": "={{ $json['contato-id'] }}",
              "rightValue": "={{ $json['conta-id'] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3740,
        2500
      ],
      "id": "d30542c0-592e-41b3-98e9-ed1e73006513",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Edit Fields').item.json['contato-id'] }}_timeout",
        "value": "true",
        "keyType": "string",
        "expire": true,
        "ttl": 180
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3340,
        2180
      ],
      "id": "c229c64a-4651-4f60-b76c-b2b6ad6948a6",
      "name": "Redis3",
      "credentials": {
        "redis": {
          "id": "WSSBfDOqAmTHQcR6",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a65b05bb-0648-41fc-bf55-9f8075178844",
              "leftValue": "={{ $json.block }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2560,
        2540
      ],
      "id": "367b3998-771a-462b-a4fc-ea1747dc5e5e",
      "name": "If2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1920,
        2740
      ],
      "id": "62952490-5857-4ce5-a9f9-98f4d31b4173",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "block",
        "key": "={{ $('Edit Fields').item.json['contato-id'] }}_timeout",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3000,
        2540
      ],
      "id": "4e18100f-4033-49da-b5a3-f8718b33ccb7",
      "name": "Redis4",
      "credentials": {
        "redis": {
          "id": "WSSBfDOqAmTHQcR6",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "85f246d5-bbbe-406a-a7a3-cb253cf00917",
              "leftValue": "={{ $json.body.entry[0].changes }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4960,
        1660
      ],
      "id": "c417abbe-6e98-4526-b6c3-87e2ee8cb877",
      "name": "If3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Edit Fields3').item.json.endpoint }}/{{ $('RES AUTOMATIC').item.json.body.entry[0].changes[0].value.id }}/replies",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -420
      ],
      "id": "dba60775-6755-45c8-8435-dfc40f2e53cd",
      "name": "HTTP Request3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "qatqlRfP361EKtQL",
          "name": "Instagram Header Auth"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c442a21f-bcba-4614-8aeb-bc137e5bcf5e",
              "name": "id_contato",
              "value": "={{ $('Webhook1').item.json.body.entry[0].changes[0].value.from.id }}",
              "type": "string"
            },
            {
              "id": "7f2342ef-218b-489a-a9b0-6a3f59c41ecf",
              "name": "username_contato",
              "value": "={{ $('Webhook1').item.json.body.entry[0].changes[0].value.from.username }}",
              "type": "string"
            },
            {
              "id": "27a75c7c-3a81-4fb8-927e-358fdc67b694",
              "name": "content_comments",
              "value": "={{ $('Webhook1').item.json.body.entry[0].changes[0].value.text }}",
              "type": "string"
            },
            {
              "id": "346c4c10-44e8-44fc-b5cf-3f453f2c5f17",
              "name": "endpoint",
              "value": "https://graph.instagram.com/v21.0",
              "type": "string"
            },
            {
              "id": "43cc2a3a-38f2-499a-adb8-ad93699ba3a5",
              "name": "my-id",
              "value": "={{ $('Webhook1').item.json.body.entry[0].id }}",
              "type": "string"
            },
            {
              "id": "7f0205d9-a4bd-4889-903d-783a7c01347b",
              "name": "id-post",
              "value": "={{ $json.body.entry[0].changes[0].value.media.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3180,
        -760
      ],
      "id": "e27635ad-d2b2-470d-a8c5-0805bb7dc8c9",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "af5e692c-6b96-447c-b43a-339721d4f6e2",
              "leftValue": "={{ $json.retorno }}",
              "rightValue": "#encha",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1440,
        -560
      ],
      "id": "d0bd2763-fb9f-4b24-b09b-3100f1af67c9",
      "name": "If4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d91244bd-0565-45ee-aeac-8158cfcfa89e",
              "leftValue": "={{ $json.id_contato }}",
              "rightValue": "={{ $json['my-id'] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2700,
        -760
      ],
      "id": "ce23bd88-54c8-47d6-ab02-222d46cded7c",
      "name": "If5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2360,
        -1040
      ],
      "id": "e56dc10d-dbcd-4938-92d6-0ddd517fb49f",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields3').item.json.content_comments }}",
        "options": {
          "systemMessage": "=Esta mensagem é de um comentário do instagram.\nGere uma responsta equivalente. Lembre-se sempre de ser bem educado e atender bem o cliente."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -520,
        -420
      ],
      "id": "c594712f-1410-4f3d-bc44-3889fbd1177e",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -600,
        -200
      ],
      "id": "1510815e-3959-4129-b8b1-744f6b6b4f26",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "MYhemnhGrxLy3RF3",
          "name": "OpenAi EnchaT Encha Info"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Edit Fields3').item.json.endpoint }}/{{ $('Webhook1').item.json.body.entry[0].changes[0].value.id }}/replies",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Me manda um 'Oi' na DM que eu te mando o link"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        -1360
      ],
      "id": "3f223987-4565-4f53-a9cc-ecb600e91101",
      "name": "HTTP Request4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jLKRmYDVqV1QgWa5",
          "name": "encha_oficial"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Edit Fields3').item.json.endpoint }}/{{ $('If4').item.json['my-id'] }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('If4').item.json.id_contato }}\"\n  },\n  \"message\": {\n    \"attachment\": {\n      \"type\": \"template\",\n      \"payload\": {\n        \"template_type\": \"button\",\n        \"text\": \"Clique no botão para acessar:\",\n        \"buttons\": [\n          {\n            \"type\": \"web_url\",\n            \"url\": \"https://cursoemvideo.com\",\n            \"title\": \"Acessar\"\n          }\n        ]\n      }\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -7400,
        1400
      ],
      "id": "a7940637-9b93-4261-8666-970b335eba39",
      "name": "HTTP Request5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "0tSqndIObllW1kBs",
          "name": "Kira_woot"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://typebot.io/api/v1/typebots/my-typebot-wxe2lr0/startChat",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"isOnlyRegistering\": false,\n  \"isStreamEnabled\": false,\n  \"message\": {\n    \"text\": \"TESTE TESTE TESTE\",\n    \"type\": \"text\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -7220,
        1400
      ],
      "id": "8acb600c-c35d-4053-858e-712975f8bbaa",
      "name": "HTTP Request6",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1180,
        2020
      ],
      "id": "63590c88-d1a0-4565-b6a4-5351942f28d0",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "MYhemnhGrxLy3RF3",
          "name": "OpenAi EnchaT Encha Info"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evo.valparaiso.pro/webhook/evolution",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "410EABCDF7FC-4084-A0EB-7FCD3F0A39B7"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"numberId\": \"17841431598482686\", \n    \"key\": {\n        \"remoteJid\": \"\",\n        \"fromMe\": false,\n        \"id\": \"{{ $('RES AUTOMATIC').item.json.body.entry[0].changes[0].value.from.id }}\"\n    },\n    \"pushName\": \"User_Instagram\",\n    \"message\": {\n        \"conversation\": \"{{ $('RES AUTOMATIC').item.json.body.entry[0].changes[0].value.text }}\"\n    },\n    \"messageType\": \"conversation\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -7560,
        1400
      ],
      "id": "d58c5eef-c8a2-4727-a2ad-bdc99365c0c9",
      "name": "HTTP Request8",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://painel.valparaiso.pro/api/v1/workspaces",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -7040,
        1400
      ],
      "id": "fdb58bd4-fec0-4d89-b72f-38a13d9b8ccc",
      "name": "HTTP Request7",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1sKdf_aQZWb2hWMxzgBPASeStxVmfwvqiuL1uv3zoccI/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sKdf_aQZWb2hWMxzgBPASeStxVmfwvqiuL1uv3zoccI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2360,
        -560
      ],
      "id": "5b99d985-ed39-47eb-8479-8c8b88635ceb",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ifSTiAHC5lvCGAzF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "70bbf3b6-8b83-4108-85ad-bb853fe88a40",
              "name": "todos-ids",
              "value": "={{ $json['ID Post'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2100,
        -560
      ],
      "id": "a2d01301-ae42-40b8-a2fe-b0c0c6776627",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "jsCode": "const id_post = $('Edit Fields3').first().json['id-post']\nconst ids_chave = $input.first().json['todos-ids']\nconst retorno = ids_chave.find(id => id === id_post) ? true : false\nreturn { json: { retorno } }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1660,
        -560
      ],
      "id": "13076534-e457-4b0c-9686-5d0bdd4b09dd",
      "name": "Code"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "todos-ids"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1880,
        -560
      ],
      "id": "a8003f42-34ef-4ee2-8dd6-aa7b534d029a",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1107cb6-a31c-415d-a75e-37d00ac2982b",
              "leftValue": "={{ $('Edit Fields3').item.json.content_comments.toLowerCase() }}",
              "rightValue": "={{ $('Code1').item.json.id_msg[0].msg.toLowerCase()}}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        -860
      ],
      "id": "1ea7aabf-da07-4a9d-b835-ab45775b5c32",
      "name": "If6"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1sKdf_aQZWb2hWMxzgBPASeStxVmfwvqiuL1uv3zoccI/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sKdf_aQZWb2hWMxzgBPASeStxVmfwvqiuL1uv3zoccI/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID Post",
              "lookupValue": "={{ $('Edit Fields3').item.json[\"id-post\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1160,
        -860
      ],
      "id": "1867ab33-2f3a-4a36-a6c9-54a4631db4d7",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ifSTiAHC5lvCGAzF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ids_chave = $input.first().json['ID Post'] || [];\nconst msg_chave = $input.first().json['Mensagem de Ativação'] || [];\nconst acao_chave = $input.first().json['Ação'] || [];\nconst txt_msg_chave = $input.first().json['Texto da Mensagem'] || [];\nconst link_chave = $input.first().json.Link || [];\nconst txt_btn_chave = $input.first().json['Texto do Botão'] || [];\nconst url_video_chave = $input.first().json['URL do Vídeo'] || [];\nconst url_img_chave = $input.first().json['URL da Imagem'] || [];\n\nif (!Array.isArray(ids_chave) || !Array.isArray(msg_chave)) {\n    throw new Error(\"Os dados de entrada não são arrays válidos.\");\n}\n\nconst id_msg = ids_chave.map((id, index) => ({\n    id: id,\n    msg: msg_chave[index] || \"none\",\n    acao: acao_chave[index] || \"none\",\n    txt_msg: txt_msg_chave[index] || \"none\",\n    link: link_chave[index] || \"none\",\n    botao: txt_btn_chave[index] || \"none\",\n    video: url_video_chave[index] || \"none\",\n    imagem: url_img_chave[index] || \"none\"\n}));\n\nreturn { json: { id_msg } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -700,
        -860
      ],
      "id": "8bb7bb1a-1e14-4d0d-a689-3e7ecf30ee42",
      "name": "Code1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "ID Post"
            },
            {
              "fieldToAggregate": "Mensagem de Ativação"
            },
            {
              "fieldToAggregate": "Ação"
            },
            {
              "fieldToAggregate": "Texto da Mensagem"
            },
            {
              "fieldToAggregate": "Link"
            },
            {
              "fieldToAggregate": "Texto do Botão"
            },
            {
              "fieldToAggregate": "URL do Vídeo"
            },
            {
              "fieldToAggregate": "URL da Imagem"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -940,
        -860
      ],
      "id": "c3e0ca28-efdc-4553-9a50-b12072549a3e",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "jsCode": "const id_msg = $input.first().json.id_msg\nconst id_procurado = $('Edit Fields3').first().json['id-post']\nconst resultado = id_msg.find(obj => obj.id === id_procurado) || null\nreturn { json: { resultado } }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        -860
      ],
      "id": "550fed1e-2601-4db7-a746-66feb04a4c1a",
      "name": "Code2",
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Code1').item.json.id_msg[0].acao }}",
                    "rightValue": "Enviar apenas mensagem com link",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "573fbac4-334a-42cd-94d5-791d4e63101e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "msg"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a121375e-c1c2-4302-ac2f-31218593b7c7",
                    "leftValue": "={{ $('Code1').item.json.id_msg[0].acao }}",
                    "rightValue": "Enviar imagem",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "img"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f8c3b99c-c96c-4fb9-8d8b-62c50e7bd04f",
                    "leftValue": "={{ $('Code1').item.json.id_msg[0].acao }}",
                    "rightValue": "Enviar Reels",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reels"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -5620,
        -1760
      ],
      "id": "38795a8b-7dee-4aae-b383-829c1e49826b",
      "name": "Switch1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Edit Fields3').item.json.endpoint }}/{{ $('Edit Fields3').item.json['my-id'] }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Edit Fields3').item.json.id_contato }}\"\n  },\n  \"message\": {\n    \"attachment\": {\n      \"type\": \"template\",\n      \"payload\": {\n        \"template_type\": \"button\",\n        \"text\": \"{{ $('Code1').item.json.id_msg[0].txt_msg }}\",\n        \"buttons\": [\n          {\n            \"type\": \"web_url\",\n              \"url\": \"{{ $('Code1').item.json.id_msg[0].link }}\",\n            \"title\": \"{{ $('Code1').item.json.id_msg[0].botao }}\"\n          }\n        ]\n      }\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5060,
        -1820
      ],
      "id": "ecda98fd-a062-4310-9407-cb2d8d7567ee",
      "name": "HTTP Request9",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jLKRmYDVqV1QgWa5",
          "name": "encha_oficial"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Edit Fields3').item.json.endpoint }}/{{ $('Edit Fields3').item.json['my-id'] }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Edit Fields3').item.json.id_contato }}\"\n  },\n  \"message\": {\n    \"attachment\": {\n      \"type\": \"template\",\n      \"payload\": {\n        \"template_type\": \"generic\",\n        \"elements\": [\n          {\n            \"title\": \"{{ $('If6').item.json.resultado.txt_msg }}\",\n            \"image_url\": \"{{ $('If6').item.json.resultado.imagem }}\",\n            \"subtitle\": \"Clique no botão abaixo para saber mais.\",\n            \"buttons\": [\n              {\n                \"type\": \"web_url\",\n                \"url\": \"https://example.com\",\n                \"title\": \"{{ $('If6').item.json.resultado.botao }}\"\n              }\n            ]\n          }\n        ]\n      }\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5020,
        -1620
      ],
      "id": "034a6faa-cae2-4b58-9d6e-0603587cf984",
      "name": "HTTP Request10",
      "credentials": {
        "httpHeaderAuth": {
          "id": "0tSqndIObllW1kBs",
          "name": "Kira_woot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Edit Fields3').item.json.endpoint }}/{{ $('Edit Fields3').item.json['my-id'] }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Edit Fields3').item.json.id_contato }}\"\n  },\n  \"message\": {\n    \"attachment\": {\n      \"type\": \"template\",\n      \"payload\": {\n        \"template_type\": \"generic\",\n        \"elements\": [\n          {\n            \"title\": \"{{ $('If6').item.json.resultado.txt_msg }}\",\n            \"image_url\": \"{{ $('If6').item.json.resultado.imagem }}\",\n            \"subtitle\": \"Clique no botão abaixo para assistir ao Reel.\",\n            \"buttons\": [\n              {\n                \"type\": \"web_url\",\n                \"url\": \"{{ $('If6').item.json.resultado.video }}\",\n                \"title\": \"Assistir Reel\"\n              }\n            ]\n          }\n        ]\n      }\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5040,
        -1420
      ],
      "id": "dea3624c-0cdf-4234-8e8e-8ae327331313",
      "name": "HTTP Request11",
      "credentials": {
        "httpHeaderAuth": {
          "id": "0tSqndIObllW1kBs",
          "name": "Kira_woot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Edit Fields3').item.json.endpoint }}/{{ $('Webhook1').item.json.body.entry[0].changes[0].value.id }}/replies",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=🤖 Fala, comandante! Acabei de enviar o curso na sua DM 🤝"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1160,
        -540
      ],
      "id": "c9f8a28c-b593-4b3f-9cc4-56f066284bf6",
      "name": "HTTP Request12",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jLKRmYDVqV1QgWa5",
          "name": "encha_oficial"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Edit Fields3').item.json.endpoint }}/{{ $('Edit Fields3').item.json['my-id'] }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Edit Fields3').item.json.id_contato }}\"\n  },\n  \"message\": {\n    \"attachment\": {\n      \"type\": \"template\",\n      \"payload\": {\n        \"template_type\": \"button\",\n        \"text\": \"🚀 Ei! Encontrei algo que pode te interessar! Dá uma olhada neste curso incrível que pode transformar sua jornada. 😉\",\n        \"buttons\": [\n          {\n            \"type\": \"web_url\",\n              \"url\": \"https://encha.ai/exercito-de-ia-2/\",\n            \"title\": \"Exército de IA\"\n          }\n        ]\n      }\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -940,
        -540
      ],
      "id": "742cd893-b170-4783-a8ad-362b65f8d02c",
      "name": "HTTP Request13",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jLKRmYDVqV1QgWa5",
          "name": "encha_oficial"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cbb9ab1b-5cf3-4f22-8f4f-73642bc5a755",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -5160,
        1660
      ],
      "id": "48d26750-4e11-41c7-a166-9efbaf3decc1",
      "name": "Webhook1",
      "webhookId": "d4611698-739a-47a3-afff-a6f61ba2c30b"
    },
    {
      "parameters": {
        "content": "## RESPOSTA DM (MENOS DE 24 HORAS)",
        "height": 840,
        "width": 1160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5780,
        -2000
      ],
      "id": "8db34605-373b-4eb6-bb21-919c62ba3427",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "Controller_Insta",
          "mode": "list",
          "cachedResultName": "Controller_Insta"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Post_Id": "={{ $('Code1').item.json.id_msg[0].id }}",
            "id_insta": "={{ $('Edit Fields3').item.json.id_contato }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Create_at",
              "displayName": "Create_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Post_Id",
              "displayName": "Post_Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "Enviado",
              "displayName": "Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_insta",
              "displayName": "id_insta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1960,
        -1140
      ],
      "id": "b650bf59-92a6-4254-857a-6b4a64bb033c",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "Zrn47e23rpWIZ1pp",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "Controller_Insta",
          "mode": "list",
          "cachedResultName": "Controller_Insta"
        },
        "where": {
          "values": [
            {
              "column": "id_insta",
              "value": "={{ $('Edit Fields3').item.json.id_contato }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1560,
        -1360
      ],
      "id": "290beb3c-dba6-491d-9412-733f4da4716f",
      "name": "Postgres1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Zrn47e23rpWIZ1pp",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ffcaff5e-b3fb-4bec-9b70-611a00b12dc6",
              "leftValue": "={{ $json.Id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1800,
        -1480
      ],
      "id": "8554a580-8fd6-449d-94d2-bbaefa07a119",
      "name": "If8"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "Controller_Insta",
          "mode": "list",
          "cachedResultName": "Controller_Insta"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "User_Id": "={{ $('Edit Fields3').item.json.id_contato }}",
            "Post_Id": "={{ $('Code1').item.json.id_msg[0].id }}",
            "Enviado": false
          },
          "matchingColumns": [
            "User_Id"
          ],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Create_at",
              "displayName": "Create_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "User_Id",
              "displayName": "User_Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post_Id",
              "displayName": "Post_Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "Enviado",
              "displayName": "Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2020,
        -1580
      ],
      "id": "c404c3b8-318d-473e-9bad-67a3ee153ebc",
      "name": "Postgres2",
      "credentials": {
        "postgres": {
          "id": "Zrn47e23rpWIZ1pp",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "Controller_Insta",
          "mode": "list",
          "cachedResultName": "Controller_Insta"
        },
        "where": {
          "values": [
            {
              "column": "id_insta",
              "value": "={{ $('Edit Fields').item.json['contato-id'] }}"
            },
            {
              "column": "Enviado",
              "value": "False"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4400,
        1760
      ],
      "id": "e76eee58-d071-4304-a9a7-707645b831ed",
      "name": "Postgres3",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Zrn47e23rpWIZ1pp",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6950e146-ee27-4ef9-ab38-1eb47c9772a4",
              "leftValue": "={{ $json.Id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4200,
        1780
      ],
      "id": "87a085bd-1485-4e5f-8722-c3a3fe55cf16",
      "name": "If9"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1sKdf_aQZWb2hWMxzgBPASeStxVmfwvqiuL1uv3zoccI/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sKdf_aQZWb2hWMxzgBPASeStxVmfwvqiuL1uv3zoccI/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID Post",
              "lookupValue": "={{ $json.Post_Id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -3900,
        1720
      ],
      "id": "810d1bb9-0572-49da-8c2b-d05baa8903c7",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ifSTiAHC5lvCGAzF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ids_chave = $input.first().json['ID Post'] || [];\nconst msg_chave = $input.first().json['Mensagem de Ativação'] || [];\nconst acao_chave = $input.first().json['Ação'] || [];\nconst txt_msg_chave = $input.first().json['Texto da Mensagem'] || [];\nconst link_chave = $input.first().json.Link || [];\nconst txt_btn_chave = $input.first().json['Texto do Botão'] || [];\nconst url_video_chave = $input.first().json['URL do Vídeo'] || [];\nconst url_img_chave = $input.first().json['URL da Imagem'] || [];\n\nif (!Array.isArray(ids_chave) || !Array.isArray(msg_chave)) {\n    throw new Error(\"Os dados de entrada não são arrays válidos.\");\n}\n\nconst id_msg = ids_chave.map((id, index) => ({\n    id: id,\n    msg: msg_chave[index] || \"none\",\n    acao: acao_chave[index] || \"none\",\n    txt_msg: txt_msg_chave[index] || \"none\",\n    link: link_chave[index] || \"none\",\n    botao: txt_btn_chave[index] || \"none\",\n    video: url_video_chave[index] || \"none\",\n    imagem: url_img_chave[index] || \"none\"\n}));\n\nreturn { json: { id_msg } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3440,
        1720
      ],
      "id": "94b60aa2-b14a-4c59-b2bc-1f90b5320950",
      "name": "Code3"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "ID Post"
            },
            {
              "fieldToAggregate": "Mensagem de Ativação"
            },
            {
              "fieldToAggregate": "Ação"
            },
            {
              "fieldToAggregate": "Texto da Mensagem"
            },
            {
              "fieldToAggregate": "Link"
            },
            {
              "fieldToAggregate": "Texto do Botão"
            },
            {
              "fieldToAggregate": "URL do Vídeo"
            },
            {
              "fieldToAggregate": "URL da Imagem"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -3680,
        1720
      ],
      "id": "21ffb44b-58f7-4f04-bf35-5b6b071ad3c2",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Code3').item.json.id_msg[0].acao }}",
                    "rightValue": "Enviar apenas mensagem com link",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "573fbac4-334a-42cd-94d5-791d4e63101e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "msg"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a121375e-c1c2-4302-ac2f-31218593b7c7",
                    "leftValue": "={{ $('Code3').item.json.id_msg[0].acao }}",
                    "rightValue": "Enviar imagem",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "img"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f8c3b99c-c96c-4fb9-8d8b-62c50e7bd04f",
                    "leftValue": "={{ $('Code3').item.json.id_msg[0].acao }}",
                    "rightValue": "Enviar Reels",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reels"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3260,
        1440
      ],
      "id": "999a4d56-4ebf-4c2d-8d73-39cac0731158",
      "name": "Switch2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v21.0/{{ $('If3').item.json.body.entry[0].id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('If3').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"message\": {\n    \"attachment\": {\n      \"type\": \"template\",\n      \"payload\": {\n        \"template_type\": \"button\",\n        \"text\": \"{{ $('Code3').item.json.id_msg[0].txt_msg }}\",\n        \"buttons\": [\n          {\n            \"type\": \"web_url\",\n              \"url\": \"{{ $('Code3').item.json.id_msg[0].link }}\",\n            \"title\": \"{{ $('Code3').item.json.id_msg[0].botao }}\"\n          }\n        ]\n      }\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2700,
        1380
      ],
      "id": "603d8995-1dfc-470e-94f7-689284b80153",
      "name": "HTTP Request14",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jLKRmYDVqV1QgWa5",
          "name": "encha_oficial"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Edit Fields3').item.json.endpoint }}/{{ $('Edit Fields3').item.json['my-id'] }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Edit Fields3').item.json.id_contato }}\"\n  },\n  \"message\": {\n    \"attachment\": {\n      \"type\": \"template\",\n      \"payload\": {\n        \"template_type\": \"generic\",\n        \"elements\": [\n          {\n            \"title\": \"{{ $('If6').item.json.resultado.txt_msg }}\",\n            \"image_url\": \"{{ $('If6').item.json.resultado.imagem }}\",\n            \"subtitle\": \"Clique no botão abaixo para saber mais.\",\n            \"buttons\": [\n              {\n                \"type\": \"web_url\",\n                \"url\": \"https://example.com\",\n                \"title\": \"{{ $('If6').item.json.resultado.botao }}\"\n              }\n            ]\n          }\n        ]\n      }\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2660,
        1580
      ],
      "id": "4d8f9471-8728-4fe4-937b-2f91feaf05d0",
      "name": "HTTP Request15",
      "credentials": {
        "httpHeaderAuth": {
          "id": "0tSqndIObllW1kBs",
          "name": "Kira_woot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Edit Fields3').item.json.endpoint }}/{{ $('Edit Fields3').item.json['my-id'] }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Edit Fields3').item.json.id_contato }}\"\n  },\n  \"message\": {\n    \"attachment\": {\n      \"type\": \"template\",\n      \"payload\": {\n        \"template_type\": \"generic\",\n        \"elements\": [\n          {\n            \"title\": \"{{ $('If6').item.json.resultado.txt_msg }}\",\n            \"image_url\": \"{{ $('If6').item.json.resultado.imagem }}\",\n            \"subtitle\": \"Clique no botão abaixo para assistir ao Reel.\",\n            \"buttons\": [\n              {\n                \"type\": \"web_url\",\n                \"url\": \"{{ $('If6').item.json.resultado.video }}\",\n                \"title\": \"Assistir Reel\"\n              }\n            ]\n          }\n        ]\n      }\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2680,
        1780
      ],
      "id": "1aad1078-1eba-4a37-97e1-711147348d10",
      "name": "HTTP Request16",
      "credentials": {
        "httpHeaderAuth": {
          "id": "0tSqndIObllW1kBs",
          "name": "Kira_woot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ids_chave = $input.first().json['ID Post'] || [];\nconst msg_chave = $input.first().json['Mensagem de Ativação'] || [];\nconst acao_chave = $input.first().json['Ação'] || [];\nconst txt_msg_chave = $input.first().json['Texto da Mensagem'] || [];\nconst link_chave = $input.first().json.Link || [];\nconst txt_btn_chave = $input.first().json['Texto do Botão'] || [];\nconst url_video_chave = $input.first().json['URL do Vídeo'] || [];\nconst url_img_chave = $input.first().json['URL da Imagem'] || [];\n\nif (!Array.isArray(ids_chave) || !Array.isArray(msg_chave)) {\n    throw new Error(\"Os dados de entrada não são arrays válidos.\");\n}\n\nconst id_msg = ids_chave.map((id, index) => ({\n    id: id,\n    msg: msg_chave[index] || \"none\",\n    acao: acao_chave[index] || \"none\",\n    txt_msg: txt_msg_chave[index] || \"none\",\n    link: link_chave[index] || \"none\",\n    botao: txt_btn_chave[index] || \"none\",\n    video: url_video_chave[index] || \"none\",\n    imagem: url_img_chave[index] || \"none\"\n}));\n\nreturn { json: { id_msg } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6560,
        4080
      ],
      "id": "adac0011-99f4-4eb3-9343-b52150e15aa6",
      "name": "Code4"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "Controller_Insta",
          "mode": "list",
          "cachedResultName": "Controller_Insta"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Enviado": true,
            "id_insta": "={{ $json.recipient_id }}"
          },
          "matchingColumns": [
            "id_insta"
          ],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Create_at",
              "displayName": "Create_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Post_Id",
              "displayName": "Post_Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Enviado",
              "displayName": "Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_insta",
              "displayName": "id_insta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2260,
        1580
      ],
      "id": "6618f127-c3cb-4038-aee3-0320b91760bb",
      "name": "Postgres4",
      "credentials": {
        "postgres": {
          "id": "Zrn47e23rpWIZ1pp",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2040,
        1580
      ],
      "id": "ee145df0-8a02-4f3f-ae5a-b6dc5dd24772",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/me/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"message\": {\n      \"text\": \"aaa\"\n    },\n    \"recipient\": {\n      \"id\": \"1194481492107944\"\n    }\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4580,
        -2040
      ],
      "id": "577c8ddb-97ec-4f9e-9d3a-a7852d5c81e2",
      "name": "HTTP Request17",
      "credentials": {
        "httpHeaderAuth": {
          "id": "QRjcBqSqn6Jx0fnR",
          "name": "test1"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b199a359-f61d-4897-8101-1e114cbc43c1",
              "leftValue": "={{ $json['contato-msg'].includes(\"Encha AI:\") }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "68cc9f00-90e6-407b-ac86-67c027c339f0",
              "leftValue": "={{ $json['contato-id'] }}",
              "rightValue": "={{ $json['conta-id'] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4600,
        1740
      ],
      "id": "33b7c1fe-2fc3-4dc3-9c82-b6ced9762fe5",
      "name": "If7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Edit Fields3').item.json.endpoint }}/{{ $('Edit Fields3').item.json['my-id'] }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Edit Fields3').item.json.id_contato }}\"\n  },\n  \"message\": {\n    \"attachment\": {\n      \"type\": \"template\",\n      \"payload\": {\n        \"template_type\": \"button\",\n        \"text\": \"{{ $('Code1').item.json.id_msg[0].txt_msg }}\",\n        \"buttons\": [\n          {\n            \"type\": \"web_url\",\n              \"url\": \"{{ $('Code1').item.json.id_msg[0].link }}\",\n            \"title\": \"{{ $('Code1').item.json.id_msg[0].botao }}\"\n          }\n        ]\n      }\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4220,
        -2260
      ],
      "id": "334ed81a-68f3-4e08-ad7b-e5f198343815",
      "name": "HTTP Request18",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jLKRmYDVqV1QgWa5",
          "name": "encha_oficial"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Code1').item.json.id_msg[0].acao }}",
                    "rightValue": "Enviar apenas mensagem com link",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "573fbac4-334a-42cd-94d5-791d4e63101e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "msg"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a121375e-c1c2-4302-ac2f-31218593b7c7",
                    "leftValue": "={{ $('Code1').item.json.id_msg[0].acao }}",
                    "rightValue": "Enviar imagem",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "img"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f8c3b99c-c96c-4fb9-8d8b-62c50e7bd04f",
                    "leftValue": "={{ $('Code1').item.json.id_msg[0].acao }}",
                    "rightValue": "Enviar Reels",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reels"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        60,
        -1060
      ],
      "id": "16b3d7bb-7f3a-4d95-9483-53ba5daf347d",
      "name": "Switch3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/me/messages?access_token=EAAJZATpekw90BOxk32ZAZACBZAcDycoC1QtwZA7w5aTmGIhzN7C97D52D6DHRj87MaH28lCiTTqQXmueYiqCZArtMiP1KGouK9MCpIQzcl0U8ba8ZAxZBG9MJCNec9hgrN7biLcZBWlOm1ecSezZBZBZAguuiHW1j1ZBGpAbFjWXvAnfNAzsUCgarPIfxFSoKyBiS",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_type\": \"RESPONSE\",\n  \"recipient\": {\n    \"id\": \"4146365222316664\"\n  },\n  \"message\": {\n    \"attachment\": {\n      \"type\": \"template\",\n      \"payload\": {\n        \"template_type\": \"button\",\n        \"text\": \"Olá, tudo bem? Fico feliz de ter você aqui conosco, segue o link da Inteligência Artificial que faz tudo \",\n        \"buttons\": [\n          {\n            \"type\": \"web_url\",\n            \"url\": \"https://simplified.com/\",\n            \"title\": \"Aperte Aqui\"\n          }\n        ]\n      }\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        -1380
      ],
      "id": "95489bce-d42d-4f29-beb9-7843f0787bdf",
      "name": "HTTP Request19",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Edit Fields3').item.json.endpoint }}/{{ $('Edit Fields3').item.json['my-id'] }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Edit Fields3').item.json.id_contato }}\"\n  },\n  \"message\": {\n    \"attachment\": {\n      \"type\": \"template\",\n      \"payload\": {\n        \"template_type\": \"generic\",\n        \"elements\": [\n          {\n            \"title\": \"{{ $('If6').item.json.resultado.txt_msg }}\",\n            \"image_url\": \"{{ $('If6').item.json.resultado.imagem }}\",\n            \"subtitle\": \"Clique no botão abaixo para saber mais.\",\n            \"buttons\": [\n              {\n                \"type\": \"web_url\",\n                \"url\": \"https://example.com\",\n                \"title\": \"{{ $('If6').item.json.resultado.botao }}\"\n              }\n            ]\n          }\n        ]\n      }\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        -1040
      ],
      "id": "8e415313-abbe-482b-917c-9e92d4450cfa",
      "name": "HTTP Request20",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "0tSqndIObllW1kBs",
          "name": "Kira_woot"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Edit Fields3').item.json.endpoint }}/{{ $('Edit Fields3').item.json['my-id'] }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Edit Fields3').item.json.id_contato }}\"\n  },\n  \"message\": {\n    \"attachment\": {\n      \"type\": \"template\",\n      \"payload\": {\n        \"template_type\": \"generic\",\n        \"elements\": [\n          {\n            \"title\": \"{{ $('If6').item.json.resultado.txt_msg }}\",\n            \"image_url\": \"{{ $('If6').item.json.resultado.imagem }}\",\n            \"subtitle\": \"Clique no botão abaixo para assistir ao Reel.\",\n            \"buttons\": [\n              {\n                \"type\": \"web_url\",\n                \"url\": \"{{ $('If6').item.json.resultado.video }}\",\n                \"title\": \"Assistir Reel\"\n              }\n            ]\n          }\n        ]\n      }\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        -840
      ],
      "id": "4af77d20-e09a-49ef-84e9-9f80bcfcb9fe",
      "name": "HTTP Request21",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "0tSqndIObllW1kBs",
          "name": "Kira_woot"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Edit Fields3').item.json.endpoint }}/{{ $('Webhook1').item.json.body.entry[0].changes[0].value.id }}/replies",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Acabei de enviar na sua DM"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        -900
      ],
      "id": "c3dad29e-e418-4414-ad54-d0d194bd9be4",
      "name": "HTTP Request22",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jLKRmYDVqV1QgWa5",
          "name": "encha_oficial"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v21.0/17841453389054673/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"messaging_type\": \"RESPONSE\",\n  \"recipient\": {\n    \"id\": \"1194481492107944\"\n  },\n  \"message\": {\n    \"attachment\": {\n      \"type\": \"template\",\n      \"payload\": {\n        \"template_type\": \"button\",\n        \"text\": \"Olá, tudo bem? Fico feliz de ter você aqui conosco, segue o link da Inteligência Artificial que faz tudo \",\n        \"buttons\": [\n          {\n            \"type\": \"web_url\",\n              \"url\": \"https://simplified.com/\",\n            \"title\": \"Aperte Aqui\"\n          }\n        ]\n      }\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        -680
      ],
      "id": "f0bace0d-842c-42a9-8d1b-3edabcec20ca",
      "name": "HTTP Request23",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jLKRmYDVqV1QgWa5",
          "name": "encha_oficial"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Edit Fields3').item.json.endpoint }}/{{ $('Edit Fields3').item.json['my-id'] }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_type\": \"RESPONSE\",\n  \"recipient\": {\n    \"comment_id\": \"{{ $('Webhook1').item.json.body.entry[0].changes[0].value.id }}\"\n  },\n  \"message\": {\n    \"attachment\": {\n      \"type\": \"template\",\n      \"payload\": {\n        \"template_type\": \"button\",\n        \"text\": \"{{ $('Code1').item.json.id_msg[0].txt_msg }}\",\n        \"buttons\": [\n          {\n            \"type\": \"web_url\",\n              \"url\": \"{{ $('Code1').item.json.id_msg[0].link }}\",\n            \"title\": \"{{ $('Code1').item.json.id_msg[0].botao }}\"\n          }\n        ]\n      }\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        -1220
      ],
      "id": "216bab25-59bf-4f1d-b8f7-459ba5766727",
      "name": "HTTP Request24",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "jLKRmYDVqV1QgWa5",
          "name": "encha_oficial"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0a12bd2a-343e-4609-a816-6f5360260580",
              "leftValue": "={{ $('Edit Fields').item.json[\"contato-id\"] }}",
              "rightValue": "1194481492107944",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4020,
        1980
      ],
      "id": "73be3ea9-14dd-463e-83ee-3be60ef65171",
      "name": "If10"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Edit Fields').item.json.endpoint }}/{{ $('Edit Fields').item.json[\"conta-id\"] }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient.id",
              "value": "={{ $('Edit Fields').item.json['contato-id'] }}"
            },
            {
              "name": "message.text",
              "value": "=Encha AI: \noi"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3700,
        1980
      ],
      "id": "9db7a782-a3e9-496e-9bf7-bf9e9cdf0d67",
      "name": "HTTP Request25",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jLKRmYDVqV1QgWa5",
          "name": "encha_oficial"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "570c53c9-fac0-46c4-99ca-593b15167b1b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -9280,
        1140
      ],
      "id": "38fbab07-6a86-4b4b-9c90-4d406006df64",
      "name": "RES AUTOMATIC",
      "webhookId": "570c53c9-fac0-46c4-99ca-593b15167b1b"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://woot.hausenchat.in//api/v1/accounts/1/conversations/{{ $('RES AUTOMATIC').item.json.body.conversation.messages[0].conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "=mFosprHN8L3eA5La8efxvqcg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Kira:\n{{ JSON.stringify($json.output).replace(/\\\\n/g, '\\n').replace(/^\"|\"$/g, '') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "764a23d9-d6d4-4ae1-8263-0b3bf1aa3006",
      "name": "sendChatWoot5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -7500,
        1220
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QRjcBqSqn6Jx0fnR",
          "name": "test1"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -8400,
        1120
      ],
      "id": "84b50815-91ef-4e4d-a07b-440d39644379",
      "name": "Wait1",
      "webhookId": "7da31b6c-d95b-4cdc-972d-33dc7037971c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "85d5ddce-597d-4c64-acca-969a4ae0b856",
              "leftValue": "={{ $json.body.message_type }}",
              "rightValue": "outgoing",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -9000,
        1140
      ],
      "id": "ff990165-7dc5-4816-94dd-5b978cb740f9",
      "name": "antigo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "81d2c2e7-e291-4f72-b093-f33bcdbdfb10",
              "leftValue": "={{ $json.body.conversation.additional_attributes.type }}",
              "rightValue": "instagram_direct_message",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "3a9822c1-5419-4189-821d-9f244f1aefa2",
              "leftValue": "={{ $json.body.conversation.messages[0].sender.additional_attributes.social_profiles.instagram }}",
              "rightValue": "joseleite080280",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -8500,
        900
      ],
      "id": "36f8417a-12a1-4c48-b599-5fd10aae78a3",
      "name": "If11"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('RES AUTOMATIC').item.json.body.conversation.messages[0].content }}",
        "options": {
          "systemMessage": "Você é kira da Encha.ai, especialista em oferecer o melhor atendimento o possível "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -8180,
        1120
      ],
      "id": "cb76f50b-60a8-44ec-8147-248ed90a095f",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -8240,
        1360
      ],
      "id": "cedc0f6a-83bf-4116-be4d-3629bf1a50be",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "MYhemnhGrxLy3RF3",
          "name": "OpenAi EnchaT Encha Info"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Wait1').item.json.body.conversation.contact_inbox.contact_id }}_mem"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -8100,
        1340
      ],
      "id": "eeac772f-46eb-42ad-ba2a-51166778a87b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.conversation.additional_attributes.type }}",
                    "rightValue": "instagram_direct_message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b859cbc8-2d14-49ff-82c1-10f12603bdf8"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8c2e1289-9828-41cd-af8d-a9d9a24b1627",
                    "leftValue": "={{ $json.body.sender.name }}",
                    "rightValue": "Scott Newton III",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -8700,
        1020
      ],
      "id": "a3025cea-11e5-46c2-a63f-f34b5569abac",
      "name": "Switch4"
    }
  ],
  "pinData": {
    "RES AUTOMATIC": [
      {
        "json": {
          "headers": {
            "host": "anzol.encha.com.br",
            "user-agent": "rest-client/2.1.0 (linux-musl x86_64) ruby/3.3.3p89",
            "content-length": "2910",
            "accept": "application/json",
            "accept-encoding": "gzip;q=1.0,deflate;q=0.6,identity;q=0.3",
            "content-type": "application/json",
            "x-forwarded-for": "147.79.106.31",
            "x-forwarded-host": "anzol.encha.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "0c1ba330df47",
            "x-real-ip": "147.79.106.31"
          },
          "params": {},
          "query": {},
          "body": {
            "account": {
              "id": 1,
              "name": "Encha"
            },
            "additional_attributes": {},
            "content_attributes": {
              "in_reply_to_external_id": null
            },
            "content_type": "text",
            "content": "oi",
            "conversation": {
              "additional_attributes": {
                "type": "instagram_direct_message"
              },
              "can_reply": true,
              "channel": "Channel::FacebookPage",
              "contact_inbox": {
                "id": 1234,
                "contact_id": 598,
                "inbox_id": 20,
                "source_id": "1365473184504218",
                "created_at": "2025-05-16T15:00:53.422Z",
                "updated_at": "2025-05-16T15:00:53.422Z",
                "hmac_verified": false,
                "pubsub_token": "gavjopcdrvYTx8ryJs6T3svr"
              },
              "id": 664,
              "inbox_id": 20,
              "messages": [
                {
                  "id": 14727,
                  "content": "oi",
                  "account_id": 1,
                  "inbox_id": 20,
                  "conversation_id": 664,
                  "message_type": 0,
                  "created_at": 1747407653,
                  "updated_at": "2025-05-16T15:00:53.556Z",
                  "private": false,
                  "status": "sent",
                  "source_id": "aWdfZAG1faXRlbToxOklHTWVzc2FnZAUlEOjE3ODQxNDUzMzg5MDU0NjczOjM0MDI4MjM2Njg0MTcxMDMwMTI0NDI3NjAxODEyOTI2MjU2MjA0ODozMjIzMzk4MTcwOTAyOTA0MTYzNzU4NzkyODU3NjE2Mzg0MAZDZD",
                  "content_type": "text",
                  "content_attributes": {
                    "in_reply_to_external_id": null
                  },
                  "sender_type": "Contact",
                  "sender_id": 598,
                  "external_source_ids": {},
                  "additional_attributes": {},
                  "processed_message_content": "oi",
                  "sentiment": {},
                  "conversation": {
                    "assignee_id": 13,
                    "unread_count": 1,
                    "last_activity_at": 1747407653,
                    "contact_inbox": {
                      "source_id": "1365473184504218"
                    }
                  },
                  "sender": {
                    "additional_attributes": {
                      "social_profiles": {
                        "instagram": "joseleite080280"
                      },
                      "social_instagram_user_name": "joseleite080280"
                    },
                    "custom_attributes": {},
                    "email": null,
                    "id": 598,
                    "identifier": null,
                    "name": "José Leite",
                    "phone_number": null,
                    "thumbnail": "",
                    "type": "contact"
                  }
                }
              ],
              "labels": [],
              "meta": {
                "sender": {
                  "additional_attributes": {
                    "social_profiles": {
                      "instagram": "joseleite080280"
                    },
                    "social_instagram_user_name": "joseleite080280"
                  },
                  "custom_attributes": {},
                  "email": null,
                  "id": 598,
                  "identifier": null,
                  "name": "José Leite",
                  "phone_number": null,
                  "thumbnail": "",
                  "type": "contact"
                },
                "assignee": {
                  "id": 13,
                  "name": "Octávio",
                  "available_name": "Octávio",
                  "avatar_url": "",
                  "type": "user",
                  "availability_status": null,
                  "thumbnail": ""
                },
                "team": null,
                "hmac_verified": false
              },
              "status": "open",
              "custom_attributes": {},
              "snoozed_until": null,
              "unread_count": 1,
              "first_reply_created_at": null,
              "priority": null,
              "waiting_since": 1747407653,
              "agent_last_seen_at": 0,
              "contact_last_seen_at": 0,
              "last_activity_at": 1747407653,
              "timestamp": 1747407653,
              "created_at": 1747407653
            },
            "created_at": "2025-05-16T15:00:53.556Z",
            "id": 14727,
            "inbox": {
              "id": 20,
              "name": "Encha.Me"
            },
            "message_type": "incoming",
            "private": false,
            "sender": {
              "account": {
                "id": 1,
                "name": "Encha"
              },
              "additional_attributes": {
                "social_profiles": {
                  "instagram": "joseleite080280"
                },
                "social_instagram_user_name": "joseleite080280"
              },
              "avatar": "",
              "custom_attributes": {},
              "email": null,
              "id": 598,
              "identifier": null,
              "name": "José Leite",
              "phone_number": null,
              "thumbnail": ""
            },
            "source_id": "aWdfZAG1faXRlbToxOklHTWVzc2FnZAUlEOjE3ODQxNDUzMzg5MDU0NjczOjM0MDI4MjM2Njg0MTcxMDMwMTI0NDI3NjAxODEyOTI2MjU2MjA0ODozMjIzMzk4MTcwOTAyOTA0MTYzNzU4NzkyODU3NjE2Mzg0MAZDZD",
            "event": "message_created"
          },
          "webhookUrl": "https://anzol.encha.com.br/webhook/570c53c9-fac0-46c4-99ca-593b15167b1b",
          "executionMode": "production"
        }
      }
    ],
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "anzol.encha.com.br",
            "user-agent": "Webhooks/1.0 (https://fb.me/webhooks)",
            "content-length": "331",
            "accept": "*/*",
            "content-type": "application/json",
            "x-forwarded-for": "69.171.251.15",
            "x-forwarded-host": "anzol.encha.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "0c1ba330df47",
            "x-hub-signature": "sha1=1f78a68b63e183ed068c191e8584c126997eb0bd",
            "x-hub-signature-256": "sha256=68111207b351047be21cca3ccf1ead2450a927d516bccfddd9d738576f7530b1",
            "x-real-ip": "69.171.251.15",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "entry": [
              {
                "id": "17841453389054673",
                "time": 1747412778,
                "changes": [
                  {
                    "value": {
                      "from": {
                        "id": "577027848762800",
                        "username": "testadorteste0800"
                      },
                      "media": {
                        "id": "17850995616281900",
                        "media_product_type": "REELS"
                      },
                      "id": "18074541988848336",
                      "text": "Funcionário perfeito"
                    },
                    "field": "comments"
                  }
                ]
              }
            ],
            "object": "instagram"
          },
          "webhookUrl": "https://anzol.encha.com.br/webhook/cbb9ab1b-5cf3-4f22-8f4f-73642bc5a755",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Redis4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Redis3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis4": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request12": {
      "main": [
        [
          {
            "node": "HTTP Request13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "Postgres2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres3": {
      "main": [
        [
          {
            "node": "If9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If9": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "HTTP Request14",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request15",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request14": {
      "main": [
        [
          {
            "node": "Postgres4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request15": {
      "main": [
        [
          {
            "node": "Postgres4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request16": {
      "main": [
        [
          {
            "node": "Postgres4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres4": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        []
      ]
    },
    "If7": {
      "main": [
        [],
        [
          {
            "node": "Postgres3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres2": {
      "main": [
        []
      ]
    },
    "Postgres": {
      "main": [
        []
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "HTTP Request24",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request20",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request19": {
      "main": [
        [],
        []
      ]
    },
    "HTTP Request20": {
      "main": [
        [
          {
            "node": "HTTP Request22",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request21": {
      "main": [
        [
          {
            "node": "HTTP Request22",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request24": {
      "main": [
        [
          {
            "node": "HTTP Request22",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If10": {
      "main": [
        [
          {
            "node": "HTTP Request25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RES AUTOMATIC": {
      "main": [
        [
          {
            "node": "antigo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "antigo": {
      "main": [
        [],
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If11": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "sendChatWoot5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "If11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "68a54afd-e865-4694-97df-3126c9749402",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "82d10096f623d79405f549f7626da8cd98c1f9933ab495aefea0e4e926f8aa5b"
  },
  "id": "JFShLaRfPyO5Yt8X",
  "tags": []
}